doctype html
html 
    head 
        title Tour App 
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='img/png' href='img/favicon.png')

    body 
        h1= tour 
        h2= user.toUpperCase()
        //-Comment

        - const x = 9
        h3= x*2 
